auto-install-peers=true
strict-peer-dependencies=false
prefer-workspace-packages=true
link-workspace-packages=true
shared-workspace-lockfile=true
recursive-install=true
prefer-frozen-lockfile=true
save-exact=true
package-manager-strict=true
reporter=append-only
