services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    volumes:
      - redis_data:/data

  api-users:
    build: .
    container_name: api-users
    command: npm run start:prod:users
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  api-admin:
    build: .
    container_name: api-admin
    command: npm run start:prod:admin
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  api-businesses:
    build: .
    container_name: api-businesses
    command: npm run start:prod:businesses
    ports:
      - "3002:3002"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  migrate:
    build: .
    command: npm run migration:run
    env_file:
      - .env
    depends_on:
      - db

volumes:
  pgdata:
  redis_data:
